# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist_mobile_app
dist-ssr
*.local

# Editor directories and files
.vscode/*
.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env
.env.production
.env.development

# cordova-res
resources/android
resources/ios
resources/windows

# capacitor-related
android/.gradle
android/.idea
android/app/build
android/app/src/main/assets/public

public/icons

private
